In [15]:
# https://depmap.org/portal/data_page/?tab=allData - version22Q2 downloaded
import pandas as pd
csv = pd.read_csv(r'/Users/subasrees/Downloads/CCLE_expression.csv')
csv.head()

,Unnamed: 0,TSPAN6 (7105),TNMD (64102),DPM1 (8813),SCYL3 (57147),C1orf112 (55732),FGR (2268),CFH (3075),FUCA2 (2519),GCLC (2729),...,H3C2 (8358),H3C3 (8352),AC098582.1 (8916),DUS4L-BCAP29 (115253422),C8orf44-SGK3 (100533105),ELOA3B (728929),NPBWR1 (2831),ELOA3D (100506888),ELOA3 (162699),CDR1 (1038)
0,ACH-001113,4.331992,0.000000,7.364397,2.792855,4.470537,0.028569,1.226509,3.042644,6.499686,...,2.689299,0.189034,0.201634,2.130931,0.555816,0.0,0.275007,0.0,0.0,0.000000
1,ACH-001289,4.566815,0.584963,7.106537,2.543496,3.504620,0.000000,0.189034,3.813525,4.221104,...,1.286881,1.049631,0.321928,1.464668,0.632268,0.0,0.014355,0.0,0.0,0.000000
2,ACH-001339,3.150560,0.000000,7.379032,2.333424,4.227279,0.056584,1.310340,6.687061,3.682573,...,0.594549,1.097611,0.831877,2.946731,0.475085,0.0,0.084064,0.0,0.0,0.042644
3,ACH-001538,5.085340,0.000000,7.154109,2.545968,3.084064,0.000000,5.868143,6.165309,4.489928,...,0.214125,0.632268,0.298658,1.641546,0.443607,0.0,0.028569,0.0,0.0,0.000000
4,ACH-000242,6.729145,0.000000,6.537607,2.456806,3.867896,0.799087,7.208381,5.569856,7.127014,...,1.117695,2.358959,0.084064,1.910733,0.000000,0.0,0.464668,0.0,0.0,0.000000

In [16]:
df_csv = pd.DataFrame(data=csv)
df = pd.DataFrame(df_csv.T)
df.columns = df.iloc[0]
df = df[1:]
df.head()

Unnamed: 0,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,ACH-000705,...,ACH-001578,ACH-000036,ACH-000973,ACH-001128,ACH-000750,ACH-000285,ACH-002669,ACH-001858,ACH-001997,ACH-000052
TSPAN6 (7105),4.331992,4.566815,3.15056,5.08534,6.729145,4.272023,3.337711,0.056584,4.01614,4.411426,...,6.344828,4.018812,4.328406,5.994806,3.533563,0.056584,3.109361,4.390943,5.057017,4.247928
TNMD (64102),0.0,0.584963,0.0,0.0,0.0,0.189034,0.0,0.0,0.0,0.0,...,3.400538,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
DPM1 (8813),7.364397,7.106537,7.379032,7.154109,6.537607,7.022923,5.927185,6.093602,6.533875,6.412443,...,7.211207,6.700578,7.058749,6.238787,6.488322,6.604071,7.031219,7.013127,7.814935,6.174127
SCYL3 (57147),2.792855,2.543496,2.333424,2.545968,2.456806,2.555816,1.944858,3.970854,2.226509,2.364572,...,2.533563,2.137504,1.891419,2.304511,1.823749,3.264536,1.541019,1.887525,2.538538,2.316146
C1orf112 (55732),4.470537,3.50462,4.227279,3.084064,3.867896,3.841973,2.678072,3.731183,3.02148,4.275007,...,4.373648,2.531069,3.529821,4.0,3.308885,4.972693,3.664483,3.252476,3.893362,3.823749

In [17]:
df['Genes']=df.index
df.head()

Unnamed: 0,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,ACH-000705,...,ACH-000036,ACH-000973,ACH-001128,ACH-000750,ACH-000285,ACH-002669,ACH-001858,ACH-001997,ACH-000052,Genes
TSPAN6 (7105),4.331992,4.566815,3.15056,5.08534,6.729145,4.272023,3.337711,0.056584,4.01614,4.411426,...,4.018812,4.328406,5.994806,3.533563,0.056584,3.109361,4.390943,5.057017,4.247928,TSPAN6 (7105)
TNMD (64102),0.0,0.584963,0.0,0.0,0.0,0.189034,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TNMD (64102)
DPM1 (8813),7.364397,7.106537,7.379032,7.154109,6.537607,7.022923,5.927185,6.093602,6.533875,6.412443,...,6.700578,7.058749,6.238787,6.488322,6.604071,7.031219,7.013127,7.814935,6.174127,DPM1 (8813)
SCYL3 (57147),2.792855,2.543496,2.333424,2.545968,2.456806,2.555816,1.944858,3.970854,2.226509,2.364572,...,2.137504,1.891419,2.304511,1.823749,3.264536,1.541019,1.887525,2.538538,2.316146,SCYL3 (57147)
C1orf112 (55732),4.470537,3.50462,4.227279,3.084064,3.867896,3.841973,2.678072,3.731183,3.02148,4.275007,...,2.531069,3.529821,4.0,3.308885,4.972693,3.664483,3.252476,3.893362,3.823749,C1orf112 (55732)

In [18]:
# get two seperate columns for gene symbols and entrez ids
df[['Symbol','Entrez']] = df['Genes'].apply(
   lambda x: pd.Series(str(x).split("(")))
df[['Entreznew','Dummy']] = df['Entrez'].apply(
   lambda x: pd.Series(str(x).split(")")))

In [19]:
# we are using entrz ids to extract recon 3d ids, remove the unwanted columns
cols_remove=['Genes','Symbol','Entrez','Dummy']
df.drop(cols_remove,axis=1,inplace=True)

In [20]:
# load an excel file which relates commonly used gene ids with all the genes in recon 3d
x_source=pd.read_excel('/Users/subasrees/Desktop/python data/comparison.xlsx')
x_source.reset_index(inplace=True)

In [21]:
## Use only the columns entrez ids (entrez_id) and recon ids (gene_number)
x_refer_ccle=x_source[['gene_number','entrez_id']]
#x_refer_ccle=x_source.groupby(['ensemble_id','gene_number']).count().reset_index()
#x_refer_ccle=x_refer_ccle[['ensemble_id','gene_number']]
x_refer_ccle['entrez_id']=x_refer_ccle['entrez_id'].astype(int)
#x_refer_ccle['ensemble_id']=x_refer_ccle['ensemble_id']
x_refer_ccle=x_refer_ccle.dropna()
x_refernew_ccle=x_refer_ccle.drop_duplicates(subset=['gene_number'],keep = 'first')
x_refernew_ccle.head()

/Users/subasrees/Desktop/anaconda3/envs/myenv/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

   gene_number  entrez_id
0       8639.1       8639
1         26.1         26
2        314.2        314
3        314.1        314
4       1591.1       1591

In [22]:
## rename the column name in ccle data to 'entrez_id'
df['entrez_id']=df['Entreznew']
full_ccle=df.dropna()
full_ccle=full_ccle.drop_duplicates(subset=['entrez_id'],keep = 'first')
full_ccle.reset_index(drop=True,inplace=True)
full_ccle['entrez_id']=full_ccle['entrez_id'].astype(int)

In [23]:
#to_ccle=pd.merge(x_refernew_ccle,x_refer_ccle,how="left",on='ensemble_id')
to_ccle=pd.merge(full_ccle,x_refernew_ccle,how="inner",on='entrez_id')

In [24]:
# recon ids extracted to the ccle data
recon_ccle=to_ccle.dropna()
recon_ccle.head()

,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,ACH-000705,...,ACH-001128,ACH-000750,ACH-000285,ACH-002669,ACH-001858,ACH-001997,ACH-000052,Entreznew,entrez_id,gene_number
0,7.364397,7.106537,7.379032,7.154109,6.537607,7.022923,5.927185,6.093602,6.533875,6.412443,...,6.238787,6.488322,6.604071,7.031219,7.013127,7.814935,6.174127,8813,8813,8813.1
1,0.028569,0.0,0.056584,0.0,0.799087,0.0,0.014355,0.028569,0.028569,0.042644,...,0.0,0.014355,0.411426,0.014355,0.028569,0.028569,0.189034,2268,2268,2268.1
2,3.042644,3.813525,6.687061,6.165309,5.569856,4.888013,6.011227,3.033863,5.588265,2.563158,...,4.221877,5.020591,0.704872,6.805292,6.902074,6.971429,3.536053,2519,2519,2519.1
3,6.499686,4.221104,3.682573,4.489928,7.127014,4.926474,3.642702,3.422233,6.380418,6.104127,...,3.273516,4.536053,4.82985,4.472488,5.410748,4.469886,3.943921,2729,2729,2729.1
4,0.0,0.028569,0.042644,0.028569,0.070389,6.641691,0.815575,0.0,0.0,0.014355,...,0.0,0.014355,0.042644,0.014355,0.070389,0.163499,1.090853,1080,1080,1080.1

In [25]:
df_final=pd.DataFrame(recon_ccle)
rows = len(df_final.axes[0])
cols = len(df_final.axes[1])

# Print the number of rows and columns
print("Number of Rows: " + str(rows))
print("Number of Columns: " + str(cols))

Number of Rows: 3721
Number of Columns: 1409

In [26]:
#df_final.to_excel('cclelast2023RAW.xlsx')